
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200&display=swap');
* {
    margin: 0;
    padding: 0;

}

.nav {
    height: 15vh;
    display: flex;
    justify-content: space-between;
    padding-left: 5%;
    padding-right: 5%;
    align-items: center;
    background-color: white;
}

.nav ul li {
    display: inline-block;
    margin: 40px;
}

.nav ul li a {
    text-decoration: none;
    color: black;
    border: 1px solid black;
    font-weight: bold;
    border-radius: 8px;
    padding: 10px;
}

.nav>a {
    text-decoration: none;
    color: black;
    border: 2px solid black;
    padding: 10px;
}

#bar{
    display: none;
}

.main {
    min-height: 85vh;
    background-image: url('images/1.jpg');
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding-left: 60%;
    background-position: top 0% right 35%;

}

.main h4,h1,p {
    padding-bottom: 15px;
}

.main h2 {
    font-size: 40px;
}

.main h1 {
    font-size: 50px;
}

.main h4 {
    font-size: larger;
}

.main p {
    font-size: medium;
}

.main button {
    background-color: transparent;
    padding: 10px;
    margin-left: 0px;
    text-decoration: none;
}

.containers {
    min-height: 30vh;
    background-color: white;
    padding: 20px;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: space-between;
}

.minibox {
    margin-top: 10px;
    height: 200px;
    width: 250px;
    background-color: white;
    border: 1px solid black;
}

.minibox h4 {
    text-align: center;
}

.searchbox {
    margin-top: 35px;
    height: 170px;
    background-color: #e48c9a;
}

.searchbox h1 {
    text-align: center;
    padding-top: 50px;
}

.searchbox h4 {
    text-align: center;
}

.products {
    min-height: 130vh;
    background-color: white;
    padding: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.featuredproducts {
    margin: 2px;
    margin-bottom: 30px;
    height: 380px;
    width: 300px;
    padding-left: 20px;
    padding-top: 20px;
    border: 1px solid black;
    border-radius: 10%;
}

.featuredproducts h4 {
    text-align: center;
    padding: 8px;
    font-size: small;
}

.search button {
    background-color: transparent;
    padding: 10px;
    margin-top: 20px;
    text-decoration: none;
}

.search {
    height: 30vh;
    background-color: #e48c9a;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.banner {
    min-height: 40vh;
    background-color: transparent;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 40px;
}

.banner1 {
    height: 300px;
    width: 600px;
    background-image: url('images/banner1.jpg');
    background-size: cover;
}

.banner2 {
    height: 300px;
    width: 600px;
    background-image: url('images/banner2.jpg');
    background-size: cover;
}

.banner3 {
    height: 220px;
    width: 410px;
    background-image: url('images/banner3.jpg');
    background-size: cover;
}

.banner4 {
    height: 220px;
    width: 410px;
    background-image: url('images/banner4.jpg');
    background-size: cover;
}

.banner5 {
    height: 220px;
    width: 410px;
    background-image: url('images/banner5.jpg');
    background-size: cover;
}

.banner1 h4 {
    margin: 10px;
    line-height: 1.0;
}

.banner1 h2 {
    margin: 10px;
    line-height: 1.0;
}

.banner1 p {
    margin: 10px;
    line-height: 1.0;
}

.banner1 button {
    line-height: 0.5;
    background-color: transparent;
    padding: 10px;
    margin-left: 10px;
    text-decoration: none;
}

.banner2 h4 {
    margin: 10px;
    line-height: 1.0;
}

.banner2 h2 {
    margin: 10px;
    line-height: 1.0;
}

.banner2 h1 {
    margin: 10px;
    line-height: 1.0;
}

.banner2 p {
    margin: 10px;
    line-height: 0.05;
}

.banner2 button {
    line-height: 0.5;
    background-color: transparent;
    padding: 10px;
    margin-left: 10px;
    text-decoration: none;
}

.banner3 h2 {
    margin: 10px;
    line-height: 1.0;
}

.banner3 h4 {
    margin: 10px;
    color: sienna;
    font-size: large;
    line-height: 1.0;
}

.banner4 h2 {
    margin: 10px;
    line-height: 1.0;
}

.banner4 h4 {
    margin: 10px;
    color: sienna;
    font-size: large;
    line-height: 0.5;
}

.banner5 h2 {
    text-align: end;
    margin: 10px;
    line-height: 1.0;
}

.banner5 h4 {
    margin: 10px;
    text-align: end;
    color: sienna;
    font-size: large;
    line-height: 0.5;
}

.letterbox {
    height: 20vh;
    background-color: #e48c9a;
    padding-top: 10px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.letterbox button {
    padding: 10px;
    border: 2px solid black;
    background-color: transparent;
    margin-left: 0px;
    text-decoration: none;
}

.letterbox input {
    padding-left: 100px;
    padding: 10px;
    border: 2px solid black;
    background-color: transparent;
}

.letterbox ::placeholder {
    color: black;
}
.credit{
    height: 20px;
    background-color: #e48c9a;
    text-align: center;
    align-items: center;
    position: fixed;
}
.footer {
    min-height: 35vh;
    background-color: white;
    margin: 10px;
    margin-left: 70px;
    margin-right: 100px;
    justify-content: space-between;
    align-items: center;
    display: flex;
}
.infoot{
    display: flex;
}

.f1 {
    padding: 10px;
}

.f2 {
    padding: 10px;
}

.f3 {
    padding: 10px;
}

.f1 h4 {
    padding-top: 10px;
    padding-bottom: 10px;
}

.f2 h4 {
    padding-bottom: 10px;
}

.f3 h4 {
    padding-bottom: 10px;
}
@media screen and (max-width:815px) {
    .containers {
        justify-content: space-around;
    }

}
@media screen and (max-width:730px) {
    .products{
        justify-content: space-around;
    }
    .featuredproducts {
        margin: 2px;
        margin-bottom: 30px;
        height: 280px;
        width: 200px;
        padding-left: 20px;
        padding-top: 20px;
        border: 1px solid black;
        border-radius: 10%;
    }

    .featuredproducts img{
        height: 220px;
        width: 180px;
    }

}


@media screen and (max-width:860px) {
   
    .banner1 {
        height: 250px;
        width: 310px;
        background-size: cover;
    }
    
    .banner2 {
        height: 250px;
        width: 310px;
    }
    
    .banner3 {
        height: 200px;
        width: 175px;
    }
    
    .banner4 {
        height: 200px;
        width: 175px;
    }
    
    .banner5 {
        height: 200px;
        width: 175px;
    }
}


@media screen and (max-width:699px) {
    .main{
        height: 70vh;
    
        background-position: top 30% right 35%;
        padding-left: 50%;
    }

    .footer {
        justify-content: space-between;
        align-items: center;
        display: flex;
        flex-direction: column;
    }
    .infoot{
        display: flex;
    }

    .minibox {
        height: 150px;
        width: 200px;
        
    }
    .minibox img{
        height: 120px;
        width: 200px;
    }
    .main h4,h1,p {
        padding-bottom: 10px;
    }
    
    .main h2 {
        font-size: 30px;
    }
    
    .main h1 {
        font-size: 30px;
    }
    
    .main h4 {
        font-size: large;
    }
    
    .main p {
        font-size: small;
    }
    
    .main button {
        background-color: transparent;
        padding: 10px;
        margin-left: 0px;
    }
    
    #bar{
        display: block;
        cursor: pointer;
    }
    .navbar{
       position: absolute;
       right:0px;
       height: 85vh;
       top: 15vh;
       background-color: #e48c9a;
       display: flex;
       flex-direction: column;
       align-items: center;
       width: 40%;
       transform: translateX(100%);
       transition: transform 2.5s ease-in;
       display: none;
    }
    
    .navbar-active{
        transform: translateX(0%);
        display: block;
    }

    .banner1 {
        height: 300px;
        width: 410px;
        background-size: cover;
    }
    
    .banner2 {
        height: 300px;
        width: 410px;
    }
    
    .banner3 {
        height: 300px;
        width: 410px;
    }
    
    .banner4 {
        height: 300px;
        width: 410px;
    }
    
    .banner5 {
        height: 300px;
        width: 410px;
    }
    
}
